
	max-width: 100%;
}


* {
	box-sizing: border-box;
}

body { 
	padding-top: 50px; 
}


@font-face {
	font-family: 'HunInn';
	src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot); /* IE9 Compat Modes */
	src: url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.eot?#iefix) format("embedded-opentype"), /* IE6-IE8 */
	url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.woff) format("woff"), /* Modern Browsers */
	url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.ttf) format("truetype"), /* Safari, Android, iOS */
	url(https://cdn.jsdelivr.net/gh/marsnow/open-huninn-font@1.1/font/jf-openhuninn.svg#SealmemoryHeader) format("svg"); /* Legacy iOS */
}

.navname {
	font-family: HunInn;
	font-size: 30px;
	color: black;
}

@media (min-width: 768px) {
/*nav選單*/
	.navbar{
	max-width: 100%;
	padding-left:30px!important;
	padding-right:30px!important;
	height: 100px;
	background-color: #DCD8CC;
}

.form-control {
	margin-left: 30px;
	width: 300px;
}

.icon {
	margin-left: 15px;
}

.nav-item {
	font-family: HunInn;
}

.title {
	font-family: HunInn;
	font-size: 20px;
}

.textleft {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.textright1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	background-color: #7E6B5A;
	color: white;
}

.title1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	margin-left: 65px;
	width: 180px;
	height: 40px;
	background-color: #7E6B5A;
	color: white;
}

.title2 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	margin-left: 50px;
	width: 180px;
	height: 40px;
	background-color: #7E6B5A;
	color: white;
}

.title3 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	margin-left: 50px;
	width: 180px;
	height: 40px;
	background-color: #7E6B5A;
	color: white;
}


.bookcontent {
	margin-left: 30px;
	margin-right: 30px;
	font-family: HunInn;
	font-size: 15px;
	background-color: #EFE9C9;
}

.book1 {
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 50px;
	margin-left: 120px;
	margin-right: 25px;
}

.book2 {
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 50px;
	margin-left: 120px;
	margin-right: 25px;
}

.book3 {
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 50px;
	margin-left: 120px;
	margin-right: 25px;
}


.booktext1 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-right: 100px;
	color: black;
}

.booktext2 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-right: 100px;
	color: black;
}

.booktext3 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 40px;
	margin-right: 100px;
	color: black;
}

.content1 {
	margin-top: 35px;
	margin-bottom: 50px;
}

.content2 {
	margin-top: 35px;
	margin-bottom: 50px;
}


.righttext2 {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-family: HunInn;
	font-size: 15px;
	color: black;
}


.btn {
	background-color: #7E6B5A;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100px;
	width: 100%;
	font-family: HunInn;
	font-size: 15px;
	color: white;
	background-color: #7E6B5A;
}
